* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

header {
  background: #6b0f20;
  background: linear-gradient(142deg, rgba(107, 15, 32, 0.972426) 24%, rgba(130, 16, 26, 0.843575) 55%, rgba(124, 15, 26, 0.835172) 85%); }

h1 {
  font-family: 'Mate SC', serif;
  font-weight: bold;
  font-size: 2em;
  color: black;
  text-transform: uppercase;
  text-align: center;
  margin: 1em;
  padding: 1em; }

h2 {
  font-family: 'Mate SC', serif;
  font-weight: bold;
  font-size: 2em;
  color: black;
  text-transform: uppercase;
  text-align: center;
  margin: 1em;
  padding: 1em; }

/*Esto corresponde a blog.hmtl*/
.apertura__Pandemia {
  font-size: 1em;
  text-align: center;
  font-weight: bold; }

.apertura__imgVisitas {
  display: flex;
  margin: 0 auto;
  margin-bottom: 1rem; }

/*fin del blog*/
.collapse {
  display: flex;
  justify-content: flex-end; }

.sucursal_imgSucursal {
  float: left;
  margin: 1em; }

.sucursal_imgSucursal2 {
  float: right; }

.sucursal_parrafo--fontsize {
  font-size: 1.5em;
  text-align: center; }

.logoMediterraneo {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 10s;
  animation-name: aparecer;
  animation-iteration-count: infinite; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

footer {
  background: black;
  background: linear-gradient(142deg, black 24%, rgba(27, 27, 27, 0.994835) 55%, #2e2e2e 89%); }

.containerFooter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "footer1 footer2"; }

.footer1 {
  grid-area: "footer1"; }
  .footer1__h6-uppercase {
    text-transform: uppercase;
    font-size: 1em;
    color: #B27B3F;
    font-weight: bold;
    line-height: 1em;
    margin: 1em; }

.footer2 {
  grid-area: "footer2"; }
  .footer2__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
  .footer2__h6-uppercase {
    text-transform: uppercase;
    font-size: 1em;
    color: #B27B3F;
    font-weight: bold;
    line-height: 1em;
    margin: 1em; }

.facebook:hover {
  opacity: 0.5; }

.instagram:hover {
  opacity: 0.5; }

.whatsapp:hover {
  opacity: 0.5; }

.containerTienda {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  .containerTienda__vino {
    border: black 5px solid;
    text-align: center;
    width: max-content;
    height: max-content;
    margin: 20px;
    padding: 10px; }
  .containerTienda__vino:hover {
    opacity: 2;
    border: #5e5e5e96 solid 5px; }
  .containerTienda__imgVino {
    width: 200px;
    height: 200px;
    opacity: .5; }

.cuotas {
  background-color: rgba(0, 0, 0, 0.87); }
  .cuotas__compras {
    color: #fffaf4;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-family: "roboto" sans-serif;
    font-size: 2em;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite; }

.containerMain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas: "bodega bodega" "fraseVino fraseVino"; }

.bodega {
  grid-area: bodega; }
  .bodega img {
    width: 90vw;
    height: 85vh;
    display: block;
    margin: 0 auto;
    margin-top: 2rem; }

.fraseVino {
  grid-area: fraseVino;
  /*Este include lo traje de tienda. Ahi esta el @mixin...*/
  color: #000520;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-family: "Mate SC" serif;
  font-size: 1.5em;
  animation-duration: 8s;
  animation-name: aparecer;
  animation-iteration-count: infinite; }

.intro {
  background-color: none;
  color: #82101a;
  border: 3px solid #82101a;
  text-transform: uppercase;
  font-weight: bolder;
  transition: 0.2s; }
  .intro:hover {
    background-color: #82101a;
    color: white;
    font-weight: bold; }

.medium {
  background-color: none;
  color: #161515;
  border: 3px solid #161515;
  text-transform: uppercase;
  font-weight: bolder;
  transition: 0.2s; }
  .medium:hover {
    background-color: #161515;
    color: white;
    font-weight: bold; }

form {
  box-sizing: border-box;
  width: 400px;
  margin: auto;
  padding: 1rem;
  margin-bottom: 1rem;
  background: rgba(107, 15, 32, 0.8);
  border-radius: 15px; }
  form label {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Mate SC', serif; }
  form input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 8px; }
  form textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100px;
    min-height: 200px;
    margin-bottom: 1rem;
    padding: 8px; }
  form button {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Mate SC', serif; }
  form button:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: white; }

@media only screen and (max-width: 420px) {
  form {
    width: 100%; }
  .apertura__imgVisitas {
    width: 80%; }
  .bodega {
    width: 100px; }
  .fraseVino {
    font-size: 0.5em; }
  .footer1__h6-uppercase {
    font-size: 0.7em; }
  .footer2__h6-uppercase {
    font-size: 0.7em; }
  .facebook {
    width: 20px; }
  .instagram {
    width: 20px; }
  .whatsapp {
    width: 20px; } }
