footer{
    background: rgb(107,15,32);
}
@mixin h6($impcol){
    text-transform: uppercase;
    font-size: 1em;
    color:$impcol; 
    font-weight: bold;
    line-height:1em;
    margin: 1em;
}
.containerFooter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "footer1 footer2";
  }
.footer1{
    grid-area: "footer1";
        &__h6-uppercase{
            @include h6($color)
        }
        &__link{
            text-decoration: none;
        }

}
.footer2{
    grid-area: "footer2";
        &__flex{            
            display: flex;
            flex-direction: row;
            justify-content:space-evenly;
        }
        &__h6-uppercase{
            @include h6($color);
        }
}
.facebook:hover{
    opacity: 0.5;
}
.instagram:hover{
    opacity: 0.5;
}
.whatsapp:hover{
    opacity: 0.5;
}