*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    background: rgb(107,15,32);
}

h1{
    font-family: 'Mate SC', serif;  
    font-weight: bold;
    font-size: 2em; 
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin: 1em;
    padding: 1em; 
}
h2{ 
    font-family: 'Mate SC', serif;  
    font-weight: bold;
    font-size: 2em; 
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin: 1em;
    padding: 1em; 
}
/*Esto corresponde a blog.hmtl*/
.apertura{
    &__Pandemia{
        font-family: 'Roboto', sans-serif;
        font-size: 1.3rem;
        margin: 1rem;
        padding: 1rem;
    }
    &__imgVisitas{
        width: 400px;
        display: flex;
        margin: 0 auto;
        margin-bottom: 1rem;  
    }

}
/*fin del blog*/
