@media only screen and ( max-width:420px){
    form{
        width:100%;
    }
    .apertura__imgVisitas{
        width: 80%;
    }
    .fraseVino{
        font-size: 0.5em;
    }
    .footer1__h6-uppercase{
        font-size: 0.7em;
    }
    .footer2__h6-uppercase{
        font-size: 0.7em;
    }
    .facebook{
        width: 20px;
    }
    .instagram{
        width: 20px;
    }
    .whatsapp{
        width: 20px;
    }
}