@media only screen and ( max-width:425px){
    form{
        width:100%;
    }
    .apertura{
        &__titulo{
            font-size: 1rem;
        }
        &__imgVisitas{
        width: 80%;
        }
        &__Pandemia{
            margin-top: 2rem;
            padding: 1rem;
            font-size: 1rem;
        }
    }
    .vendimia{
        &__titulo{
            font-size: 1rem;
        }
        &__imgVendimia{
            width: 80%;
        }
        &__articulo{
            margin-top: 2rem;
            padding: 1rem;
            font-size: 1rem;
        }
    }
    .fraseVino{
        font-size: 0.5em;
    }
    .footer1__h6-uppercase{
        font-size: 0.7em;
    }
    .footer2__h6-uppercase{
        font-size: 0.7em;
    }
    .facebook{
        width: 20px;
    }
    .instagram{
        width: 20px;
    }
    .whatsapp{
        width: 20px;
    }
    .sucursal{
        &__nuestraSucursal{
        display: flex;
        flex-direction: column;
        }
        &__imgSucursal{
            margin: 0 auto;
        }
        &__parrafoSucursal{
            margin-top: 2rem;
            padding: 1rem;
            font-size: 1rem;
        }
        &__porqueVinos{
            display: flex;
            flex-direction: column;
        }
        &__imgSucursal2{
            margin: 0 auto;
        }
        &__parrafoVinos{
            margin: 2rem 0 2rem 0;
            padding: 1rem;
            font-size: 1rem;
        }
    }
}
@media only screen and (min-width:426px) and (max-width:768px){
    .fraseVino{
        font-size: 0.8rem;
    }
    .apertura{
        &__titulo{
            font-size: 1rem;
        }
        &__Pandemia{
            font-size: 1rem;
        }
    }
    .vendimia{
        &__titulo{
            font-size: 1rem;
        }
        &__articulo{
            font-size: 1rem;
        }
    }
    .sucursal{
        &__titulo{
            font-size: 1rem;
        }
        &__parrafoSucursal{
            font-size: 1rem;
        }
        &__parrafoVinos{
            font-size: 1rem;
        }

    }
}