.collapse{
    display: flex;
    justify-content: flex-end;
}
nav{
    ul{
        li{
            a{
                font-family: 'Mate SC', serif;
                text-transform: uppercase;
                font-weight: bold;
            }
            a:hover{
                transform: scale(1,1.5);
            }
        }
    }
}