.sucursal{
    &__nuestraSucursal{
        display: flex;
    }
    &__imgSucursal{
        margin: 0 1rem 2rem 1rem;
    }
    &__parrafoSucursal{
        font-family: 'Roboto', sans-serif;
        font-size: 1.3em;
        margin: 0 1rem 0 1rem;
    }
    &__porqueVinos{
        display: flex;
        flex-direction: row-reverse;
    } 
    &__imgSucursal2{
        margin: 0 1rem 2rem 1rem;
    }
    &__parrafoVinos{
        font-family: 'Roboto', sans-serif;
        font-size: 1.3em;
        margin: 0 1rem 0 1rem;
    }
    

}